/* font-family: 'Raleway',
sans-serif;

font-family: 'Roboto',
sans-serif; */

* {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}
*/
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
	text-decoration: none;
	color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Свойства для обнуления курсива у address */
address {
	font-style: normal;
}

:root {
	--primary-background-color: #ffffff;
	--secondary-background-color: #f5f4fa;

	--accent-color: #2196f3;

	--title-color: #212121;
	--text-color: #757575;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}

body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	margin: 0;
}

.section {
	padding: 94px 0;
}
/* Home page */

/* Header  */
.header {
	border-bottom: 1px solid #ececec;
}
.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	align-items: center;
}

.logo-link {
	color: var(--title-color);
	font-family: "Roboto", Arial, sans-serif;
	text-decoration: none;
}

.header-menu {
	display: flex;
	align-items: center;
	margin-left: 93px;
}

.header-menu-item:not(:last-child) {
	margin-right: 50px;
}

/* .header-menu .item + .item {
	margin-left: 50px;
} */

.contacts {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header-menu-link.curent {
	color: var(--accent-color);
}

/* .contacts .contacts-item + .contacts-item {
	margin-left: 50px;
} */

.contacts {
	gap: 50px;
}

.logo-link {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--title-color);
	letter-spacing: 0.03em;
	text-decoration: none;
}

.logo-accent {
	color: var(--accent-color);
}
.header-menu-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--title-color);
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	list-style: none;
}
.header-menu-link:hover {
	color: var(--accent-color);
}

.header-menu-link:focus {
	color: var(--accent-color);
}

.contacts-link {
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--text-color);
	text-decoration: none;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	column-gap: 10px;
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--accent-color);
	fill: var(--accent-color);
}

.contacts-icon {
	margin: 0;
	padding: 0;

	fill: var(--text-color);
}
.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
	fill: var(--accent-color);
}

/* Hero section  */
.hero {
	padding: 200px 0;
	background-color: #2f303a;
	background-image: linear-gradient(
			to top,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../images/Img.jpeg);
	max-width: 1600px;

	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #ffffff;

	margin-bottom: 30px;
}

.hero-btn {
	margin-top: 30px;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;

	letter-spacing: 0.06em;

	color: #ffffff;

	width: 200px;
	height: 50px;
	background-color: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	margin: auto;
	display: block;
	border: none;

	cursor: pointer;
}

/* Advantages */

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	/* background-color: teal; */
}
.advantages-item:not(:last-child) {
	margin-right: 30px;
}

.advantages-icon {
	background-color: #f5f4fa;
	padding: 25px 100px;
}
/* .advantages-item {
	background-color: red;
} */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.advantages-subtitle {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--title-color);
	text-transform: uppercase;
}

.advantages-text {
	margin-top: 10px;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	color: var(--text-color);
	width: 270px;
	height: 75px;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;

	margin-bottom: 50px;
}

/* What we do  */

.wwd {
	padding-top: 0;
}

.wwd-list {
	display: flex;
	flex-wrap: wrap;
	/* margin-top: 50px; */
}

.wwd-item:not(:last-child) {
	margin-right: 30px;
}

/* Team */

.team {
	background-color: var(--secondary-background-color);
}

/* .team-box {
	/* margin-top: 94px;
	margin-bottom: 94px;
} */

.team-list {
	display: flex;
	flex-wrap: wrap;
}

.team-list-item {
	width: 270px;

	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
	margin-right: 30px;
}
.team-wrapper {
	padding: 30px 0;
}
.team-list-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;

	margin-bottom: 10px;
}

.team-list-job {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: #757575;
}

.social {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	column-gap: 10px;
}
.social-icon {
	fill: var(--text-color);
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 100%;
}
.social-link:hover,
.social-link:focus {
	background-color: #2196f3;
	border-radius: 50%;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
	fill: var(--primary-background-color);
}
/* Clients  */

.clints-list {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	column-gap: 30px;
	list-style: none;
}
.clients-item {
	border: 1px solid #afb1b8;
	border-radius: 4px;
}

.clients-icon {
	padding: 16px 32px;
}

.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;
}
.clients-icon {
	fill: #afb1b8;
}
.clients-icon:hover,
.clients-icon:focus {
	fill: var(--accent-color);
}

.clients-item:hover,
.clients-item:focus {
	border-color: var(--accent-color);
}
/* Footer  */

.footer {
	background-color: #2f303a;
	padding: 60px 0;
}
.footer-container {
	display: flex;

	column-gap: 70px;
}
.footer-addres {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	margin-top: 20px;
}
.footer-logo-link {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--primary-background-color);
}

.footer-list a {
	font-size: 14px;
	line-height: 1.71;
	/* or 171% */

	letter-spacing: 0.03em;
	color: var(--text-color);
	text-decoration: none;
}

.footer-list .footer-address {
	color: var(--primary-background-color);
}

.footer-list a:hover {
	color: var(--accent-color);
}
.footer-list a:focus {
	color: var(--accent-color);
}

.footer-list-item:not(:last-child) {
	margin-bottom: 9px;
}

/* присоединяйтесь  */
.join-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
	margin-bottom: 20px;
}
.footer-container {
	max-width: 1200px;
}
.join {
	display: block;
}

.join-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 10px;
}

.join-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.1);
}

.join-icon {
	fill: var(--secondary-background-color);
}

.join-link:hover,
.join-link:focus {
	background-color: var(--accent-color);
}

/* Portfolio page  */

.filter-list {
	display: flex;
	align-items: center;

	justify-content: center;

	gap: 8px;
}
.portfolio-btn {
	padding: 6px 22px;
	font-family: inherit;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	color: #212121;

	cursor: pointer;
	border: none;

	background-color: #f5f4fa;
	border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	background-color: var(--accent-color);
	color: #ffffff;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active-btn {
	background-color: var(--accent-color);
	color: #ffffff;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* КАРТОЧКИ ПОРТФОЛИО */
.filter-list {
	margin-bottom: 50px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.portfolio-item {
	width: 370px;

	background: #ffffff;
	cursor: pointer;
}

.portfolio-item:hover,
.portfolio-item:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

.border {
	padding: 20px 24px;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.portfolio-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;

	letter-spacing: 0.06em;

	color: #212121;
}

.portfolio-text {
	font-size: 16px;
	line-height: 1.88;

	letter-spacing: 0.03em;
	color: #757575;

	margin-top: 4px;
}
